@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.15s ease-in-out;
}
/*CONTENEDOR SCROLLBAR*/
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    border-radius: 5px;
}

/* FONDO BARRA SCROLL*/
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* SELECTOR */
::-webkit-scrollbar-thumb {
    background: rgb(109, 223, 185);
    ;
    border-radius: 5px;
}

/* SELECTOR hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(84, 171, 142);
    ;
}
/*TIPOGRAFIAS*/
.oswald {
    font-family: 'Oswald', sans-serif;
}
.fw100 {
    font-weight: 100;
}
.fw300 {
    font-weight: 300;
}
.fw700 {
    font-weight: 700;
}

/*estilo para imagenes de fondo*/
.bnrep{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*-----estilos del proyecto-------*/

.portada {
    position: relative;
    background-image: url(../img/rest3.jpg);
    background-color: rgba(0, 0, 0, 0);
    padding: 7%;
    color: white;
    box-shadow: inset 0 0 200px black;
    height: 350px;
}

.portada .texto{
    position: absolute;
    bottom: 60px;
}

.busqueda{
    position: absolute;
    bottom: -20px;
    background-color: white;
    width: 86%;
    height: 60px;
    margin: auto;
    box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.425);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
}
.busqueda .icono{
    background-color: rgb(127, 255, 212);
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;

}
.icono~.material-icons-outlined{
    font-size: 24pt;
}
.busqueda input[type="search"]{
    height: 100%;
    width: calc(100% - 120px) ;
    border: none ;
    outline: none ;
    padding: 0 20px;
    font-size: 14pt;
}
.busqueda input[type="search"]:focus {
    font-size: 14pt;
    transition: all 300ms ease-in-out;
}
.busqueda input[type="submit"]:active {
    font-size: 24pt;
}
.busqueda input[type="submit"]{
    height: 60px;
    width: 60px;
    border: none ;
    outline: none ;
}

/*------------FIN PORTADA-----------*/
.menu {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.menu ul{
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll ;
}
.menu ul li{
    flex: 0 0 90px;
    text-align: center;
    list-style: none;
}
.menu a{
    color:black ;
    text-decoration: none;
}
/*----------FIN MENU---------*/

.productos {
    background-color: white;
    padding: 20px;
}

.restos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    align-items: center;
    padding: 10px 50px;

}

.card{
    display: flex;
    flex: 1 0 160px;
    width: 90%;
    background-color: yellow;
    box-shadow: 0 0 15px 2px black;
}
.card .img{
    flex: 0 0 40%;
    background-color: red;
    overflow: hidden;
}

.img img{
    height: 100%;

}

.card .datosresto{
    position: relative;
    padding: 12px;
    padding-top: 40px;
    flex: 0 0 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.valores{
    display: flex;
    justify-content: space-between;
}

.f10{
    font-size: 10pt!important;
}

.puntuacion{
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    background-color: lightgreen;
    text-align: center;
    line-height: 40px;

}
.posrel{position: relative;}

.valoracion{
    position: absolute;
    background-color: aquamarine;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 60px;
    bottom: -20px;
    right: 20px;
    font-weight: 700;
    border-radius: 15px 0;
    box-shadow: 0 0 15px -2px black;
    color: black;
}

ul{list-style: none;}

main{
    background-color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap:35px;
}

main ul{
    display: flex;
    justify-content: space-around;
}

main ul li{text-align: center;}

.nav_mobile{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.nav_mobile ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav_mobile ul li{
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
}

.nav_mobile a{
    text-decoration: none;
    color:black;
}

.nav_mobile ul li:hover{
    color: black;
    border-top: solid 4px aquamarine;
}
.banner{
    width: 100%;
    padding: 10px;
}

.banner button{
    left: 20px;
    background-color: transparent;
    border: 0;
    padding: 10px;
}

.banner button:hover{
    box-shadow: aquamarine;
}
.item_menu{
    background-color: gray;
}

.plato{
    background-image: url(../img/pollo.jpg);
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.item_menu p{
    text-align: center;
    width: 100%;
}
.producto{
    height: 400px;
    width: 100%;
    overflow: hidden;
    background-color: yellow;
}
.producto .titulo{
    z-index: 10;
    background-color:red;
    width:70%;
    bottom: 0;
}
h5{
    font-size: 30px;
    padding-left: 15px;
}
h6{
    font-size: 15px;
    padding-left: 15px;
}
.obj_fit{
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: 0;
}
main{
    background-color: aqua;
    height: 100vh;
    width: 100%;
    display: flex;
    
}
.cuadrado{
    height: 80px;
    width: 80px;
    background-color: black;
}

.flex{display: flex;}
.centrar_vert{align-items: center;}
.centrar_h{justify-content: center;}
.pa{position: absolute;}
.bg_gray{background-color: gray;}
