@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.15s ease-in-out;
}
.ds {display: flex;}
.pa {position: absolute;}
.pr {position: relative;}

.parte_de_arriba {
    height: 400px;
}

.superior {
    position: relative;
    background-color: blue;
    height: 50%;
    display: flex;
    flex: 0 0 49.1%;
}
.superior .icono {
    position: absolute;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    right: 10px;
    top: 10px;
}
.superior .foto {
    position: absolute;
    flex: 0 0 40%;
    height: 160px;
    width: 100px;
    background-color: brown;
    overflow: hidden;
    border-radius: 50%;
    bottom: 0;
}

.inferior {
    background-color: lightblue;
    height: 50%;
}